- extend 'layout.haml'

- block head
:css
    h2 {
        margin-top: 0;
        padding-top: 2em;
    }
    footer {
        margin-bottom: 32px;
    }
    pre code {
        background-color: rgba(0, 35, 55, 0.9);
        color: #eeeeee;
    }
    .ext-content {
        font-size: 17px;
        font-weight: 300;
    }
    .page-sections ul {
        padding-left: 0;
        padding-top: 1em;
    }
- end

.pure-g.m30.ext-content
    .pure-u-1.pure-u-lg-4-5
        %h1
            = extension.name+" weppy extension"
        = body
    .pure-u-1.pure-u-lg-1-5
        .page-sections.m30
            %p
                = "coded by "+extension.author_name
            %p
                = "version: "+extension.version
                %br
                = "license: "+extension.license
            %p
                %a{href: 'https://pypi.python.org/pypi/{{=extension.pypi}}'}
                    %img{src: 'https://img.shields.io/pypi/v/{{=extension.pypi}}.svg?style=flat'}
            - if extension.website
                %p
                    %a{href: '{{=extension.website}}'}
                        website
            %p
                %a{href: 'https://github.com/{{=extension.github}}'}
                    github
                %br
                %a{href: '{{=extension.bugtracker}}'}
                    bugtracker
            .m30{style: "margin-left: 0; margin-right: 0;"}
                %ul
                    - for sub in sections
                        %li.tree-section
                            %a{href: "{{='#'+sub[1]}}"}
                                = sub[0]
